@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  opacity: 0;
  transition: opacity  2s;
}

/* first navbar */
.head1{
  /* position: fixed; */
  padding-right: 2em;
  padding-left: 4em;
  /* margin-bottom: -1em; */
   top: 0; left: 0; right: 0; bottom: 0;
  background: #ffffff;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.1); */
  /* padding: 7px 4%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: 13vh;
}
.head1 .logo{
  font-weight: bolder;
  font-size: 25px;
  columns: #333;
}
.head1 .navbar ul{
  list-style: none;

}
.head1 .navbar ul li {
  position: relative;
  float: left;
  top: 10;
 
}
.head1 .navbar ul li a{
  text-decoration: none;
  font-weight: 200;
}
.head1 .navbar ul li .workers{
  position: absolute;
  left: -25;
  width: 210px;
  outline: none;
  background: #4d79ac;
  display: none;
  /* z-index: 1; */
}
.head1 .navbar ul li .workers li{
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1)
}
.head1 .navbar ul li .workers li a{
  font-size: 18px;
  color: white;
  font-weight: 400;
}
.head1 .navbar ul li .workers li a:hover{
  /* background-color: rgba(255, 255, 255, 0.971); */
  /* color: black; */
  width: 100%;
  font-weight: 500;
}

.head1 .navbar ul li a{
 font-size: 20px;
 padding: 20px;
 color: #000000;
 display: block;
 font-weight: 600;
}
/* header .navbar ul li a:hover{
  background-color: #333;
  color: white;
} */
.head1 .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 300px;
  outline: none;
  background: #604d8d;
  display: none;
  /* z-index: 1; */
}
.head1 .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1);
}
.head1 .navbar ul li ul li a{
  font-size: 18px;
  color: white;
  width: 100%;
  font-weight: 400;
}
.head1 .navbar ul li ul li a:hover{
  /* background-color: rgba(255, 255, 255, 0.971); */
  /* color: black; */
  width: 100%;
  font-weight: 400;
}
.head1 .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}
.head1 .navbar ul li ul li a{
  font-weight: 200;
  width: 100%;
}
.head1 .navbar ul li:focus-within > ul,
.head1 .navbar ul li:hover > ul{
  display: initial;
}

#menu-bar{
  display: none;
}


.head1 label{
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}




@media (max-width:991px) {
  
  .head1{
      padding: 10px;
  }

  .head1 label{
    display: initial;  
  }

  .head1 .navbar{
      position: absolute;
      top: 70; left: 0; right: 0;
      background: #e5e5e5;
      border-top: 1px solid  rgba(0,0,0,.1);
      display: none;
  }

  .head1 .navbar ul li{
      width: 100%;
  } 
  .head1 .navbar ul li ul{
      position: relative;
      padding: 0;
      width: 100%;
      /* margin-right: 14rem; */
  }
  .head1 .navbar ul li .workers{
      position: relative;
      width: 100%;
      left: 0;

  }
  /* .head1 .navbar ul li .workers li{
     background-color:  #4d79ac; 
  } */
  .head1 .navbar ul li .workers li a{
    color: #000;
  }
  /* .head1 .navbar ul li ul li{
      background: #604d8d; 
  } */

  .head1 .navbar ul li ul li ul{
      width: 100%!important;
      left: 0;
  }
  .head1 .navbar ul li ul li a{
    color: black;
  }

  .head1 #menu-bar:checked ~ .navbar{
      display: initial!important;
  }

}
 


 /* second navbar */
 #head{
  background-color: rgb(229, 229, 229);
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding: 12px; */
  /* align-items: center; */
}

@media (max-width: 1024px) {
  header{
    padding: 7px;
  }

}

@media (max-width: 800px) {
  header ul li a{
    display: none;
  }

}
@media (max-width: 833px) {
  header ul li a{
    display:  block!important;
    margin-bottom: -10px;
  }
}
@media (max-width: 450px) {
header{
 padding: 5px;
}
}

@media (max-width: 240px) {
header{
  /* height: 3vh; */
  padding: 3px; 
}
}


header button{
  border: 2px solid rgb(5, 5, 116);
  border-radius: 16px;
  padding: 10px;
  margin-left: 30px;
}

@media (max-width: 840px) {
  header button{
    padding: 8px;
  }

}
@media (max-width: 450px) {
  header button{
    padding: 6px;
    border: 1px solid rgb(5, 5, 116);
    border-radius: 12px;
  }

}
@media (max-width: 450px) {
  header button{
    border: 1px solid rgb(5, 5, 116);
  border-radius: 12px;
  padding: 6px;
  margin-left: 10px;
  }

}
@media (max-width: 240px) {
 /* #head button{
    padding: 8px;
    font-size: 4px;
    border-radius: 10px;
  } */
}
header button:hover{
  font-weight: 450;
}
button a{
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 840px) {
  button a{
    font-size: 15px;
    font-weight: 500;
  }

}


ul li{
  list-style-type: none;
  font-size: 20px;
  margin-right: 26px;
  font-weight: bolder;
  font-family: 'Hind Siliguri', sans-serif;
}
ul li a {
  font-weight: 400;
}
.dropdown3{
  position: absolute;
  display: none;
  z-index: 1;
}
.dropdown3 ul{
  display: inline-block;
  line-height: 2rem;
  padding: 13px;
  background-color: #4d79ac!important;
  margin-top: 1.1em!important;
  width: 140%;
}
.dropdown3 ul li a{
  color: white;
  font-size: 13.3px;
  text-decoration: none;
}
header div li:hover .dropdown3{
  display: block;
  position: absolute;
}
.dropdown4{
  position: absolute;
  display: none;
  align-self: center;
  z-index: 1;
}
.dropdown4 ul{
  display: inline-block;
  line-height: 2rem;
  padding: 10px;
  background-color: #4d79ac!important;
  margin-top: 1.1em!important;
  width: 150%;
}
.dropdown4 ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
header div li:hover .dropdown4{
  display: block;
  position: absolute;
}
header .dropdown4 ul li a:hover{
  transform: scale(1.0);
  color: blanchedalmond;
}
.dropdown5{
  position: absolute;
  display: none;
  z-index: 1;
}
.dropdown5 ul{
  display: inline-block;
  line-height: 2rem;
  padding: 13px;
  background-color: #4d79ac!important;
  margin-top: 1.1em!important;
  width: 150%;
}
.dropdown5 ul li{
  margin-right: 10px;
}
.dropdown5 ul li a{
  font-size: 19px;
  text-decoration: none;
  color: white;
  font-size: 13px;
}
header div li:hover .dropdown5{
  display: block;
  position: absolute; 
}
 
/* end of second navbar */

.bimage{
  /* background-image:url(https://gohyer.com/wp-content/uploads/2020/09/GettyImages-1124347661-scaled.jpg); */
  width: 100%; 
  height: 30%;
  background-size: cover;
  position: relative;
}
.text p{
  color: rgba(18, 17, 17, 0.67);
  font-size: 44px;
  /* background-color: black; */
  font-weight: 600;
  width: 31%;
  position: absolute;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 5rem;
  top: 37%;
}
@media (max-width:1280px) {
  .text p{
    font-size: 34;
  }
  }
  @media (max-width:986px) {
    .text p{
      top: 20%;
    }  
  }

@media (max-width:768px) {
    .text p{
      top: 40%;
      font-size: 26;
      font-weight: 700;
      margin-left: 3rem;
    }
}
.p-5{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 44rem; */
  /* background-color: wheat; */
}
/* questiondata */

.questionform{
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  line-height: 1.625;
  font-style: italic;
  color: #333;
}
.questionhead{
  padding-bottom: 2rem;
}

/* end of question data */
input{
  background-color: #ffffff00;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
@media (max-width:982px) {
  .p-5 .container-fluid{
    display: none;
  }
  .questionform{
    text-align: center;
  }
}

/* footer */

#foot{
  background-color: #f3f3f3 !important;
  
}
#foot a{
  color: #000 !important;
}
#foot h4{
  color: #000 !important; 
}